{% extends 'layout.html' %}
{% from 'pages/diplomadosCursosLibres.html' import pageDiplomadosCursosLibres %}

{% block body %}

  <header class="header">
    <svg class="header__bellicon" width="24" height="24" viewBox="0 0 24 24"><path d="M13.094 2.085l-1.013-.082a1.082 1.082 0 0 0-.161 0l-1.063.087C6.948 2.652 4 6.053 4 10v3.838l-.948 2.846A1 1 0 0 0 4 18h4.5c0 1.93 1.57 3.5 3.5 3.5s3.5-1.57 3.5-3.5H20a1 1 0 0 0 .889-1.495L20 13.838V10c0-3.94-2.942-7.34-6.906-7.915zM12 19.5c-.841 0-1.5-.659-1.5-1.5h3c0 .841-.659 1.5-1.5 1.5zM5.388 16l.561-1.684A1.03 1.03 0 0 0 6 14v-4c0-2.959 2.211-5.509 5.08-5.923l.921-.074.868.068C15.794 4.497 18 7.046 18 10v4c0 .107.018.214.052.316l.56 1.684H5.388z"/></svg>
    <svg viewBox="0 0 20 20" class="header__userpicture">
      <path d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zM7 6v2a3 3 0 1 0 6 0V6a3 3 0 1 0-6 0zm-3.65 8.44a8 8 0 0 0 13.3 0 15.94 15.94 0 0 0-13.3 0z"/></svg>
    <span class="header__username">Nanna Bryndís Hilmarsdóttir</span>
  </header>

  <aside class="aside">
    <div class="logo">
      <img src="{{ url_for('static', filename='img/uni-logo.png') }}" alt="UNI Logo" class="logo__src">
      <h1 class="logo__title">UNI - FCyS</h1>
    </div>
    <nav class="nav">
      <h3 class="menu__title">Gestionar</h3>
      <ul>
        <li class="tab active" tab-target="pageDiplomadosCursosLibres">Diplomados / Cursos</li>
        <li class="tab">Dosificación horaria profesores</li>
        <li class="tab">Especialización</li>
        <li class="tab">Estudiantes</li>
        <li class="tab">Eventos</li>
        <li class="tab">Facultad</li>
        <li class="tab">Financiamiento</li>
        <li class="tab">Investigación</li>
        <li class="tab">Profesor</li>
        <li class="tab">Publicaciones</li>
        <li class="tab">Unidad académica</li>
        <li class="tab">Tesis</li>
        <li class="tab">Tutores</li>
      </ul>
    </nav>
  </aside>

  <main class="main" id="main"></main>


  {{ pageDiplomadosCursosLibres() }}
{% endblock %}
