:root{
  --primary: #fff;
  --primary-variant: #e9f1f7;
  --secondary: #003485;
  --secondary-variant: #001862;
  --secondary-alpha: rgba(0, 52, 133, .20);
  --secondary-alpha-variant: rgba(0, 52, 133, .1); /*rgba(201, 201, 0, .25);*/

  --text: #7F868B;
  --text-variant: #595959;

  --body-color: #EFF3F6;
  --shadow-color: #696969;
  --border-color: #E1E1E1;
  --border-color--darker: #a5a5a5;

  --border: 2px solid var(--border-color);
  --border-bottom: 3px solid var(--border-color);
  --border-secondary: 2px solid var(--shadow-color);
  --box-shadow: 1px 0 7px -4px var(--shadow-color);

  --padding: .75rem;
  --bradius: 7px;
  --brounded: 100px;
}

html, body, *, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: GoogleSans;
  font-size: 15px;
  line-height: 2;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-template-rows: 10vh 100%;
  grid-template-areas: 'aside header' 'aside main';
  grid-row-gap: 5px;

  background-color: var(--body-color);
}

ul{ list-style: none; }

.header{
  display: flex;
  align-items: center;
  justify-content: flex-end;

  grid-area: header;
  background-color: var(--primary);
  box-shadow: var(--box-shadow);
  padding: 1rem;

  color: var(--secondary);
}

.header__userpicture{
  width: 7vh;
  height: 7vh;
}
.header__userpicture, .header__username, .header__bellicon{ fill: currentColor; }
.header__username, .header__bellicon{
  margin: 0 .5rem;
}

.aside{
  grid-area: aside;
  max-height: 100vh;
}

.logo{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: var(--primary);
  border-bottom: 1px solid var(--border-color);
  box-shadow: var(--box-shadow);
}
.logo__src{
  display: block;
  width: 25%;
}

.logo__title{
  color: var(--secondary);
  cursor: default;
}

.nav{
  height: calc(100% - 10vh);
  max-height: calc(100% - 10vh);;
  background-color: var(--primary);
  padding: var(--padding) 0;
  overflow-y: auto;
  border-right: 1px solid var(--border-color);
}

.nav .menu__title{ padding-left: .5rem; }

.tab{
  color: var(--secondary);
  background-color: inherit;
  cursor: default;
  padding-left: .75rem;
  border-left: 3.5px solid transparent;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: background-color .3s;
}
.tab:hover, .tab.active{ border-color: var(--secondary); }
.tab.active{
  background-color: var(--secondary-alpha);
  color: var(--secondary-variant);
}

.main{
  grid-area: main;
}


/*
**    Pages's style's
*/
.page{
  display: grid;
  grid-template-rows: 41px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 'page-nav' 'page-container';
  height: 100%;
}
.page-nav{
  grid-area: page-nav;
  padding: 0 1rem;
}

.page-nav__tab{
  display: inline-block;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--text);
  border-bottom: 2px solid transparent;
  padding: .5rem 1rem;
  font-size: 1.05rem;
}
.page-nav__tab.active{
  color: var(--secondary);
  border-color: var(--secondary);
}

.page-nav__container{
  grid-area: page-container;
  width: 100%;
  max-height: 100%;
  padding:1rem;
  background-color: var(--primary);
  overflow-y: auto;
}


/*
**  Table's style
*/
.table-wrapper{
  overflow: hidden;
  width: 50vw;
  margin: 1rem auto;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}
table{
  width: inherit;
  border-collapse: collapse;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}
thead{
  background-color: var(--secondary);
  color: var(--primary);
}
td, th{
  padding: .05rem .5rem;
  text-align: center;
  font-size: 14px;
}
td a{
  color: var(--text);
}
tbody tr:nth-child(even){
  background-color: var(--secondary-alpha-variant);
}


.btn{
  display: block;
  border: none;
  outline: none;
  background-color: var(--secondary);
  color: var(--primary);
  font-weight: bold;
  padding:.5rem 1rem;
  border-radius: var(--bradius);
}
