{% macro pageDosificacionHoraria() %}
  <template id="pageDosificacionHoraria">
    <section class="page">
      <nav class="page-nav">
        <button class="page-nav__tab active" id="profesorTab">Profesor</button>
      </nav>

      <div class="page-nav__container">
        <!--<button class="btnAddNew btn">Nuevo profesor</button>-->
        <div class="table-wrapper" style="width: 65vw;">
          <table>
            <thead>
              <tr>
                <th rowspan="3">Facultad / Programa / Sede</th>
                <th colspan="6">Horas por profesores de contratación horaria, asignado a la investigación</th>
                <th rowspan="2" colspan="2">Total</th>
              </tr>
              <tr>
                <th colspan="2">Tutoría de monografías</th>
                <th colspan="2">Proyectos de investigación</th>
                <th colspan="2">Horas de cursos de postgrado (a)</th>
              </tr>
              <tr>
                <th>T</th>
                <th>F</th>
                <th>T</th>
                <th>F</th>
                <th>T</th>
                <th>F</th>
                <th>T</th>
                <th>F</th>
              </tr>
            </thead>
            <tbody>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </template>
{% endmacro %}
