{% macro pageEventos() %}
  <template id="pageEventos">
    <section class="page">
      <nav class="page-nav">
        <button class="page-nav__tab active" id="investigacionesTab" table-target="tableE">Eventos</button>
        <button class="page-nav__tab" id="tipoInvestigacionTab" table-target="tableTE">Tipos de eventos</button>
        <button class="page-nav__tab" id="tipoInvestigacionTab" table-target="tableET">Trabajos exposición</button>
      </nav>

      <div class="page-nav__container">
        <button class="btnAddNew btn"></button>
        <div class="table-wrapper"></div>

        <template id="tableE">
          <table>
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Fecha realización</th>
                <th>Descripción</th>
                <th>Lugar</th>
                <th>Tipo de evento</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>00-00-0000</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor</td>
              <td><a href="#">editar</a></td>
              <td><a href="#">cancelar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>00-00-0000</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor</td>
              <td><a href="#">editar</a></td>
              <td><a href="#">cancelar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>00-00-0000</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor</td>
              <td><a href="#">editar</a></td>
              <td><a href="#">cancelar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>00-00-0000</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor</td>
              <td><a href="#">editar</a></td>
              <td><a href="#">cancelar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>00-00-0000</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor</td>
              <td><a href="#">editar</a></td>
              <td><a href="#">cancelar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>00-00-0000</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor</td>
              <td><a href="#">editar</a></td>
              <td><a href="#">cancelar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>00-00-0000</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor</td>
              <td><a href="#">editar</a></td>
              <td><a href="#">cancelar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>00-00-0000</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor</td>
              <td><a href="#">editar</a></td>
              <td><a href="#">cancelar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>00-00-0000</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor</td>
              <td><a href="#">editar</a></td>
              <td><a href="#">cancelar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>00-00-0000</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor</td>
              <td><a href="#">editar</a></td>
              <td><a href="#">cancelar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>00-00-0000</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor</td>
              <td><a href="#">editar</a></td>
              <td><a href="#">cancelar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>00-00-0000</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor</td>
              <td><a href="#">editar</a></td>
              <td><a href="#">cancelar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>00-00-0000</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor</td>
              <td><a href="#">editar</a></td>
              <td><a href="#">cancelar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>00-00-0000</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor</td>
              <td><a href="#">editar</a></td>
              <td><a href="#">cancelar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>00-00-0000</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor</td>
              <td><a href="#">editar</a></td>
              <td><a href="#">cancelar</a></td>
            </tr>
            </tbody>
          </table>
        </template>

        <template id="tableTE">
          <table>
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
              <td>0</td>
              <td><a href="#">editar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
              <td>0</td>
              <td><a href="#">editar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
              <td>0</td>
              <td><a href="#">editar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
              <td>0</td>
              <td><a href="#">editar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
              <td>0</td>
              <td><a href="#">editar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
              <td>0</td>
              <td><a href="#">editar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
              <td>0</td>
              <td><a href="#">editar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
              <td>0</td>
              <td><a href="#">editar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
              <td>0</td>
              <td><a href="#">editar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
              <td>0</td>
              <td><a href="#">editar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
              <td>0</td>
              <td><a href="#">editar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
              <td>0</td>
              <td><a href="#">editar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
              <td>0</td>
              <td><a href="#">editar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
              <td>0</td>
              <td><a href="#">editar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
              <td>0</td>
              <td><a href="#">editar</a></td>
            </tr>
            </tbody>
          </table>
        </template>

        <template id="tableET">
          <table>
            <thead>
              <tr>
                <th>Evento</th>
                <th>Investigación</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <tr>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td><a href="#">editar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td><a href="#">editar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td><a href="#">editar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td><a href="#">editar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td><a href="#">editar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td><a href="#">editar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td><a href="#">editar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td><a href="#">editar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td><a href="#">editar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td><a href="#">editar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td><a href="#">editar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td><a href="#">editar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td><a href="#">editar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td><a href="#">editar</a></td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit amet</td>
              <td>Lorem ipsum dolor sit amet</td>
              <td><a href="#">editar</a></td>
            </tr>
            </tbody>
          </table>
        </template>
      </div>
    </section>
  </template>
{% endmacro %}
