{% macro pageFacultad() %}
  <template id="pageFacultad">
    <section class="page">
      <nav class="page-nav">
        <button class="page-nav__tab active" id="profesorTab">Facultad</button>
      </nav>

      <div class="page-nav__container">
        <button class="btnAddNew btn">Nuevo profesor</button>
        <div class="table-wrapper">
          <table>
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor sit</td>
              <td>1</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </template>
{% endmacro %}
