{% macro pageFinanciamiento() %}
  <template id="pageFinanciamiento">
    <section class="page">
      <nav class="page-nav">
        <button class="page-nav__tab active" id="investigacionesTab">Investigaciones</button>
      </nav>

      <div class="page-nav__container">
        <button class="btnAddNew btn"></button>
        <div class="table-wrapper">
          <table>
            <thead>
              <tr>
                <th>Fuente</th>
                <th>Programado C$</th>
                <th>Ejecutado C$</th>
                <th>%</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Presupuesto Estatal</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td><a href="#">editar</a></td>
              </tr>
              <tr>
                <td>Ingresos propios</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td><a href="#">editar</a></td>
              </tr>
              <tr>
                <td>Cooperación nacional</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td><a href="#">editar</a></td>
              </tr>
            <tr>
              <td>Cooperación internacional (a)</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td><a href="#">editar</a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </template>
{% endmacro %}
