{% macro pageUnidadAcademica() %}
  <template id="pageUnidadAcademica">
    <section class="page">
      <nav class="page-nav">
        <button class="page-nav__tab active" id="unidadesAcademicasTab" table-target="tableUA">Unidades académicas</button>
        <button class="page-nav__tab" id="tiposUnidadesAcademicasTab" table-target="tableTUA">Tipos unidades académicas</button>
      </nav>

      <div class="page-nav__container">
        <button class="btnAddNew btn"></button>
        <div class="table-wrapper" style="width: 60vw;"></div>

        <template id="tableUA">
            <table>
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Ubicación</th>
                  <th>Descripción</th>
                  <th>Capacidad Instalada</th>
                  <th>Tipo de unidad</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              <tr>
                <td>Lorem ipsum dolor</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing.</td>
                <td>lorem15</td>
                <td>0</td>
                <td>Lorem ipsum dolor</td>
                <td><a href="#">editar</a></td>
              </tr>
              <tr>
                <td>Lorem ipsum dolor</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing.</td>
                <td>lorem15</td>
                <td>0</td>
                <td>Lorem ipsum dolor</td>
                <td><a href="#">editar</a></td>
              </tr>
              <tr>
                <td>Lorem ipsum dolor</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing.</td>
                <td>lorem15</td>
                <td>0</td>
                <td>Lorem ipsum dolor</td>
                <td><a href="#">editar</a></td>
              </tr>
              <tr>
                <td>Lorem ipsum dolor</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing.</td>
                <td>lorem15</td>
                <td>0</td>
                <td>Lorem ipsum dolor</td>
                <td><a href="#">editar</a></td>
              </tr>
              <tr>
                <td>Lorem ipsum dolor</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing.</td>
                <td>lorem15</td>
                <td>0</td>
                <td>Lorem ipsum dolor</td>
                <td><a href="#">editar</a></td>
              </tr>
              <tr>
                <td>Lorem ipsum dolor</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing.</td>
                <td>lorem15</td>
                <td>0</td>
                <td>Lorem ipsum dolor</td>
                <td><a href="#">editar</a></td>
              </tr>
              <tr>
                <td>Lorem ipsum dolor</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing.</td>
                <td>lorem15</td>
                <td>0</td>
                <td>Lorem ipsum dolor</td>
                <td><a href="#">editar</a></td>
              </tr>
              <tr>
                <td>Lorem ipsum dolor</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipisicing.</td>
                <td>lorem15</td>
                <td>0</td>
                <td>Lorem ipsum dolor</td>
                <td><a href="#">editar</a></td>
              </tr>
              </tbody>
            </table>
        </template>

        <template id="tableTUA">
            <table>
              <thead>
                <tr>
                  <th>Tipo unidad académica</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Lorem ipsum dolor sit amet</td>
                  <td><a href="#">editar</a></td>
                </tr>
                <tr>
                  <td>Lorem ipsum dolor sit amet</td>
                  <td><a href="#">editar</a></td>
                </tr>
                <tr>
                  <td>Lorem ipsum dolor sit amet</td>
                  <td><a href="#">editar</a></td>
                </tr>
                <tr>
                  <td>Lorem ipsum dolor sit amet</td>
                  <td><a href="#">editar</a></td>
                </tr>
                <tr>
                  <td>Lorem ipsum dolor sit amet</td>
                  <td><a href="#">editar</a></td>
                </tr>
                <tr>
                  <td>Lorem ipsum dolor sit amet</td>
                  <td><a href="#">editar</a></td>
                </tr>
                <tr>
                  <td>Lorem ipsum dolor sit amet</td>
                  <td><a href="#">editar</a></td>
                </tr>
                <tr>
                  <td>Lorem ipsum dolor sit amet</td>
                  <td><a href="#">editar</a></td>
                </tr>
                <tr>
                  <td>Lorem ipsum dolor sit amet</td>
                  <td><a href="#">editar</a></td>
                </tr>
                <tr>
                  <td>Lorem ipsum dolor sit amet</td>
                  <td><a href="#">editar</a></td>
                </tr>
              </tbody>
            </table>
        </template>
      </div>
    </section>
  </template>
{% endmacro %}
